
html{
  height:100%;
  font-family: SourceSansPro-Regular, sans-serif;
}

body {
  padding: 0;
  margin-top: 67px;
  min-height:100%;
  font-family: sans-serif;
  background-image: url("./components/Images/beer3.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100%;
  box-sizing: border-box;

}

