
.home{
    text-align: center;
    width: 100%;
}
.homeHeading{
    background: orange;
    border: 3px #fff solid;
    color: #fff;
    width: 50%;
    font-size: 36px;
    margin: auto;
    position: relative;
    top: 50px;
}
.centerDiv{
    position: relative;
    top: 100px;
    
}
.coverHeading{
    color: orange;
    font-style: oblique
}


.footer{
    position: relative;
    top:400px;
    text-align: center;
}
.footer p{
    color: white;
}
.footer a{
    color: #fff !important;
    margin-left: 5px;
    font-size: 18px;
}


.leadBtn{
    background: orange;
    width: 100px;
    margin: auto;
    border: 3px #fff solid;
    border-radius: 5px;box-shadow: 10px 10px 5px grey;
    -webkit-box-shadow: 2px -5px 4px gray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445) !important;
    font-family: bold;
    position: relative;
    top: 100px;
}

.leadBtn a{
    color: #fff !important;
    font-size: 18px;
}

@media (max-width:768px) {
    .home{
        width: 100%;
        text-align: center;
    }
    .homeHeading{
        width: 75%;
    }
    .home h2{
        font-size: 30px;
    }
} 

@media (max-width:425px) {
    .leadBtn{
        margin-top: -80px;
    }
}
@media (max-width:375px){
    .leadBtn{
        margin-top: -50px;
    }
}