.after-work{
    position: relative;
    top: 70px;
}
.joing-event{
    width: 110px;
    height: 40px;
    border:3px solid orange; 
    background:orange;
    color:#fff;
}
.leave-event{
    width: 100px;
    height: 40px;
    border:3px solid orange; 
    background:orange;
    color:#fff;
    margin-left: 10px;
}
.joing-event:hover{
    opacity: 0.5;
}
.leave-event:hover{
    opacity: 0.5;
}
.attenders-number{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: double 5px orange;
    margin: 10px auto;
    padding-bottom: 20px;
}
.attenders-number:hover{
    opacity: 0.5;
}
.attenders{
    width:"75%";
    margin:10px auto; 
    background:orange;
    border:1px solid #000;
    color:#fff
}
.attenders:hover{
    opacity: 0.5;
}
span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}