.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    /* height: 300px; */
    border: orange solid 3px;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 10px !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}
.card-body{
    text-align: left;
    padding: 2px 16px;
    font-size: 18px;
}
.card-body span{
    color: #000;
    /* font-size: 20px; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bar-link-btn{
    border: orange 3px solid;
    border-radius: 10px;
    color: #fff !important;
    width: 100px;
    margin: 0 auto; 
}
.card-btn-box{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
