
.toolBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: orange;
    color: #333;
    z-index: 100;

}
.toolBar-logo a{
    color: #fff;
    font-size:3rem; 
}
.toolBar-logo{
    margin-left: 0.5rem;
}
.spacer{
    flex: 1;
}
.toolBar-navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.toolBar-links{
    color: #fff;
}
.toolBar-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}
.toolBar-links li{
    padding: 0 0.5rem;
}
.toolBar-links li:hover{
    background: #333;
    border-radius: 5px;
}
.toolBar-links a{
    color: #fff;

}
.toolBar-links a:host,
.toolBar-links a:active{
    color: #fff;
}


@media (max-width: 768px){
    .toolBar-links ul{
        display: none;
    }
}



@media (min-width: 769px){
    .toolBar-toggle-button{
        display: none;
    }
    .toolBar-logo{
        margin-left: 0;
    }
}

@media (max-width: 375px){
  .toolBar-logo a{
      font-size: 2.5rem;
  }
}
