.side-drawer{
    height: 100%;
    background: #fff;
    box-shadow: 2px 0px 3px rgba(0, 0,0 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    text-align: center;
}

.side-drawer.open{
    transform: translateX(0);
    padding: 0 20px;
}

.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    color: orange;
}
.side-drawer li{
    margin: 0.5rem 0;
}
.side-drawer a{
    color: orange;
    text-decoration: none;
    font-size: 1.2rem;
}
.side-drawer a:hover,
.side-drawer a:active{
    color: #333;

}

@media (min-width: 769px){
    .side-drawer{
        display: none;
    }
}
@media (max-width: 375px){
    .side-drawer h2{
        font-size: 2rem;
    }
}