.toggle-btn{
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    height: 30px;
    width: 36px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-btn:focus{
    outline: none;
}
.toggle-btn-line{
    width: 30px;
    height: 3px;
    background: #333;
}